@model IEnumerable<SEP21.Models.GioiThieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_AdminLayout.cshtml";
}

<h1>Giới Thiệu</h1>
@foreach (var item in Model)
{
    <p>
        @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.ID })
    </p>
    <h3>Sứ mạng</h3>
    <h4>@item.SuMang</h4>
    <h3>Tầm nhìn</h3>
    <h4>@item.TamNhin</h4>
    <h3>Triết lý giáo dục</h3>
    <h4>@item.TrietLyGiaoDuc</h4>
}
